//@theme "/usr/share/rofi/themes/sidebar.rasi"
//@import "~/.cache/wal/colors-rofi-dark"
@theme "~/.cache/wal/colors-rofi-dark.rasi"

* {
	background: #671d0e;
}

#element.selected.normal {
	text-color: @background;
}

